h1{
    border: darkmagenta 5px solid;
    color: darkmagenta;
}

h1:hover{
    border: pink 5px solid; 
    color: pink; 
}

.carre
{
    width: 500px;
    height: 500px;
    background-color: plum;
}

.carre:active{
    width: 500px;
    height: 500px;
    background-color:red; 
}

div
{
    display: inline-block; 
}