/* Header */ 
    /* Nav */ 

header {
    height: 70px;
    background-color: #000000;
    margin: 0; 
}

a
{
    all: unset;
    padding: 25px 25px 25px 25px; 
}

a:hover
{
    background-color: #444;
    padding: 25px 25px 25px 25px; 
}

.active 
{
    background-color: #444; 
    padding: 25px 25px 25px 25px; 
}

nav
{
   display: flex;
   flex-direction: row-wrap;  
   justify-content: space-between; 
   align-content: center;
   color: white;
   margin: 0; 
}

nav h1
{
    text-indent: 1em; 
}

ul {
    list-style: none;
    display: flex;
    margin: 5px 0px 0px 5px; 
    font-size: 16px;
}

li{
    margin-top: 20px; 
}

.siteHeaderButton {
    cursor: pointer;
  }
  
    /* Fin de la nav */ 

    /* DIV BACKGROUND CAFÉ*/ 

div{
    display: flex; 
    justify-content: start;
    }

.cafeback{
    background-image: url(https://images.unsplash.com/photo-1503240778100-fd245e17a273?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center; 
    height: 750px; 
    background-repeat: no-repeat;
}








  /* Fin du header */ 

  body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
